---
layout: mylayout.njk
title: Elli Raynai's Portfolio
---
<main>
    <h1>Elli Raynai</h1>
    <h2>Designer/Developer</h2>
    <div class="small-logos">
        <a href="https://github.com/eraynai"><img src="{{ prefix }}/img/github.png" alt="github"/></a>
        <a href="https://www.linkedin.com/in/elli-raynai-3075b011/"><img src="{{ prefix }}/img/linkedin.png" alt="linkedin" /></a>
        <a href="{{ prefix }}/img/elli_raynai_cv.pdf"><img src="{{ prefix }}/img/cv.png" alt="elli raynai's resume"/></a>
    </div>
</main>
<div class="image-me">
    <img src="{{ prefix }}/img/elli.png" alt="a picture of elli raynai" />
 </div>
