---
title: Elli Raynai Portfolio
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
        <img src="/img/final_logo.png" alt="Elli Raynai Logo">
        <nav>
            <ul>
                <li>About</li>
                <li>Projects</li>
                <li>Play</li>
            </ul>
        </nav>
    </header>
    {{ content | safe }}
  </body>
</html>