---
title: Elli Raynai Portfolio
prefix: /Frontend-Portfolio
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ prefix }}/css/style.css">
    <link rel="stylesheet" href="{{ prefix }}/css/normalize.min.css" />
  </head>
  <body>
    <div class="container">
      <header>
          <img class="logo" src="{{ prefix }}/img/final_logo.png" alt="Elli Raynai Logo">
          <nav>
              <ul class="nav-links">
                  <li><a href="{{ prefix }}">Home</a></li>
                  <li><a href="about">About</a></li>
                  <li><a href="projects">Projects</a></li>
                  <li><a href="play">Play</a></li>
              </ul>
          </nav>
      </header>
      {{ content | safe }}
    </div>
  </body>
</html>